
:root {
    --color : gray;
    --bg-color : #fafafa; 
    --black-1 : black;
    --border : blue;
}
header {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}
nav a {
    margin: 0 10px;
}    

.nav {
    max-width: 3500px;
    margin: 12 auto;
}    
.title, .under-title {
    display: flex;
    align-items: 0px;
    justify-content: center;
    margin-bottom: 5px;
}
.section-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vh;
    box-sizing: border-box;
    width: 100%;
    padding: 100px;
}

.background {
    width: 100%;
    height: 100vh;
    background-color: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
}
form section {
    width: 100%;
    max-width: 500px;
}
.input-group {
    margin-bottom: 15px;
    position: relative;
    
}
input, select {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    color: black;
    background: transparent;
    font-size: 12px;
    box-sizing: border-box; 
    border-radius: 5px;  
}
button {
    padding: 10px 20px;
    color: black;
    outline: none;
    background: #4CAF50; 
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    padding: 10px 20px;
}
.flex-item {
    flex: 1; 
    height: 100%; 
    background-color: var(--bg-color);
    gap: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
   
}
.flex {
    display: flex;
    justify-content: space-between; 
    align-items: stretch; 
    width: fit-content;
    gap: 15px;
    box-sizing: border-box;
}
table {
    padding: 10px 20px;
    width: 80%;
    border-collapse: collapse;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
th, td, caption {
    border: 1px solid black; /* Adds a 1px solid border to the cells */
    padding: 8px; /* Adds some padding inside the cells */
    text-align: left; /* Aligns text to the left within the cells */
    border-collapse: collapse;
}
th {
    background-color: #a0cee2; /* Adds a background color to the header cells */
}
caption {
    background-color: #85abbb;
}
caption, .courses, .programs {
    text-align: center;
}
.body-media{
    display: flex;
    height: 80%;
    margin: 10px 20px;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    border-collapse: collapse;
}
.animate {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}
.image {
    border-radius: 100px;
    width: 300px;
    height: 300px;
}
.website {
    width: 600px;
    height: 600px;
}
@media (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
}
.youtube-videos {
    display: flex;
    height: 100%; 
    width: auto;
    flex-direction: column;
    gap: 15px;
    
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.video {
    margin-bottom: 15px;
    position: relative;
}

